<html>
	{% block htmltag_inner_html %}
	<head>
		{% block htmltag_inner_head %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block htmltag_inner_document_title %}FFBL{% endblock %}</title>
		{% endblock %}
		{% block include_css_global %}
		{% stylesheets '../app/Resources/public/css/*' '../app/Resources/public/css/jquery-ui-themes-1.10.2/themes/ice/*' %}
			<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
		{% endstylesheets %}

		{% endblock %}
		{% block include_css_local %} {% endblock %}
	</head>

		<body>

			{% block htmltag_inner_body %}


			
			<div id="header">
				{% block header %}
					<div class="wrapper">
						<div class="header-logo">
							FFBL<span class="small bright" style="color: #E55451;">.com</span>
						</div>
						<div class="header-nav-main">
							{% block nav_list %}
							<ul>
								<li>Link 1</li>
								<li>Link 2</li>
								<li>Link 3</li>
							</ul>
							{% endblock %}
						</div>
					</div>
				{% endblock %}
			</div>
			{% block nav_secondary %}
			{% endblock %}
			<div class="main-body">
			<div class="wrapper">
			<div class="wrapper-main formee">
			{% block content_main %}
			{% endblock %}
			</div>
			<div class="wrapper-right">
			</div>
			</div>
			</div>
			<div id="footer">
				<div class="wrapper">
				{% block footer %}

				{% endblock %}
				</div>
			</div>
			
			{% block include_javascript_global %}
				<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
				<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
				{% javascripts '../app/Resources/public/js/*' %}
					<script type="text/javascript" src="{{ asset_url }} "></script>
				{% endjavascripts %}
				
			{% endblock %}
			{% block include_javascript_local %} {% endblock %}
			{% endblock %}
		</body>
	{% endblock %}
</html>
